body {
    margin: 0;
    padding: 0;
}

.user_data {
    margin:20px 20px 0 20px;
}

.user_data img {
    width: 50px;

}
.user_data p {
    margin: 0 auto auto auto;
}

.navigation, .navigation1 {
    /*float: left;*/
    /* margin-left: 40px;*/
    border: black;
    border-width: 0 0 1px 0;
    border-style: solid;

}

.file, .forms, .forms1{
    margin: auto;
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white;  /* fallback for old browsers */


}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: whitesmoke;
}

#form1 {
    display: none;
}

